<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de produto</title>
</head>
<body>
  <main>
    <h1>Cadastro de produto</h1>
    <a href="/">Inicio</a>
    <form th:action="@{/produto/cadastrar}" method="post" th:object="${produto}">

      <label>
        <input type="text" name="descricao" placeholder="Descrição...">
      </label>

      <label>
        <input type="text" name="descricaoTecnica" placeholder="Descrição Técnica...">
      </label>

      <label>
        <select name="setorId" class="select" required>
          <option value="" disabled selected>Selecione o setor</option>
          <option th:each="setor : ${listaDeSetores}" th:value="${setor.id}" th:text="${setor.descricao}"></option>
        </select>
      </label>

      <label>
        <input type="text" name="quantidade" placeholder="Quantidade...">
      </label>

      <button type="submit" value="Cadastrar">Cadastrar</button>
    </form>
  </main>
</body>
</html>