<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <a href="/">Inicio</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Descriçao técnica</th>
                <th>Estoque</th>
                <th>Setor</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${listaDeProdutos}">
                <td><span th:text="${produto.id}"></span></td>
                <td><span th:text="${produto.descricao}"></span></td>
                <td><span th:text="${produto.descricaoTecnica}"></span></td>
                <td><span th:text="${produto.quantidade}"></span></td>
<!--                <td><span th:text="${#numbers.formatDecimal(produto.quantidade,1,4,'COMMA')}"></span></td>-->
                <td><span th:text="${produto.setor.descricao}"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>