<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Cadastro de setor</h1>
<form th:action="@{/setor/cadastrar}" method="post" th:object="${setor}">
    <div>
        <label for="descricao">Descrição</label>
        <input type="text" id="descricao" name="descricao" th:field="*{descricao}" required />
    </div>
    <div>
        <button type="reset">Limpar</button>
        <button type="submit">Cadastrar</button>
    </div>
</form>
</body>
</html>