<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Setores</title>
</head>
<body>
<h1>Setores</h1>
<a href="/">Inicio</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="setor : ${listaDeSetores}">
        <td><span th:text="${setor.id}"></span></td>
        <td><span th:text="${setor.descricao}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>